.guest_list-list_item{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
}
    .guest_list-list_item p{
        margin: 1px;
    }
.list_item-button input{
    min-width: 170px;
    border: none;
    border-radius: 3px;
    background-color: #94C11E;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 35px;
}
.text_bold{
    font-weight: 600;
}