body{
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: #EDEDED;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

    .guest_list-wrapper{
        background-color: #fff;
        display: block;
        padding: 25px;
         width: 750px;
    }
        .guest_list-header{
            display: flex;
            flex-direction: column;
            padding: 15px 0;
        }
            .guest_list-header_top{
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
                .guest_list-header_top h1{
                    font-size: 50px;
                    font-weight: 800;
                    z-index: 20;
                }
                .guest_list-header_top span{
                    position: absolute;
                    font-size: 22px;
                    font-weight: 800;
                    color: red;
                    left: 45%;
                    top:33px;
                    transform: rotate(-10deg);
                    text-decoration: line-through;
                    z-index: 10;
                }
                .search_img{
                    width: 80px;
                    height: 80px;
                }
            #guest_search{
                background-color: #EDEDED;
                border: 0;
                padding: 15px 20px;
                font-weight: 600;
                font-size: 18px;
                color: #A6A6A6;
                border-radius: 3px;
            }

    .guest_list-list{
        list-style: none;
    }
        